* {
    margin: 0;
    padding: 0;
}

nav {
    top: 0;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.nav_box {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 60px;
    background-color: skyblue;
}

.my_shop {
    font-size: 3rem;
    font-weight: bold;
    color: red;
    font-family: Impact;
    cursor: pointer;
}

.cart {
    cursor: pointer;
}

.cart span:nth-child(1) {
    font-size: 2rem;
    color: white;
}

.cart span:nth-child(2) {
    padding: 0 3px;
    background-color: red;
    color: white;
    font-weight: bolx;
    border-radius: 5px;
    position: relative;
    top: -15px;
}